<ion-view title="About" id="page3" style="background-color:#FFFFFF;">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <h1 id="about-heading3" style="color:#000000;text-align:center;">My Hardware</h1>
    <div>
      <img src="img/KKSVGugQ2aDV0Dmf928B_hardware.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <div id="about-markdown23" class="show-list-numbers-and-dots padding">
      <p style="color:#000000;">
        <strong>My Hardware</strong> is an online store for construction materials specialized in supply of raw materials, finished products and machinery. </p>

      <p style="color:#000000;">We as the hardware team have gone around the country and seen the disconnect between consumers and suppliers of construction materials, we are your solution, we are what you need, we are a click away from your dream house, dream palace, dream office
        space and dream project.</p>

      <p style="color:#000000;">
        <strong>My hardware</strong> also provides a marketing platform for business that engage in supply of construction materials like; stones, steel, sand, ballast, hardcore, red soil, paints etc. so if you are a supplier, sigh up with my Hardware and let’s
        build the nation’s best buildings together.</p>

      <p style="color:#000000;">How to be a member of my Hardware, well its easy just go to the sign-up tab and follow instructions from
        <strong>there!</strong>
      </p>
    </div>
  </ion-content>
</ion-view>