<ion-view title="Ballast" id="page7">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div id="ballast-container8">
      <div class="list card" id="ballast-card29">
        <h3 id="ballast-heading7" style="color:#000000;text-align:center;">Ballast Variety</h3>
        <div class=" item item-image">
          <img src="img/aghQcAvcSeqHvF51PtQK_Ballast.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="ballast-list-item-container15"></div>
      </div>
      <ion-list id="ballast-list9">
        <ion-item class="item-thumbnail-left dark" id="ballast-list-item70">
          <img src="img/wL4NVQsSlK6yYWQXWtLZ_Ballast.jpg">
          <h2dark>3/4
            <p style="white-space:normal;">*Quantity:* 1T , *Unit Price:* 2700 *Minimum Order: * 1 Truck(14 Tonnes)</p>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left dark" id="ballast-list-item73">
          <img src="img/wL4NVQsSlK6yYWQXWtLZ_Ballast.jpg">
          <h2dark>Quarry Dust</h2dark>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>