<ion-view title="Contact" id="page4" style="background-color:#F2F7FA;">
  <ion-content padding="false" class=" manual-remove-top-padding has-header">
    <h1 id="contact-heading4" style="color:#000000;text-align:center;" class="padding">Talk to Us</h1>
    <ion-list id="contact-list15">
      <ion-item class="item-thumbnail-left dark" id="contact-list-item51" href="mailto:email@email.com">
        <img src="img/xFgOW4uOQSmxBpDRKamU_envelope.png">
        <h2dark>Email
          <p style="white-space:normal;">shadrack.otido87@gmail.com</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <ion-list id="contact-list16">
      <ion-item class="item-thumbnail-left dark" id="contact-list-item52" href="tel:07xxxxxx">
        <img src="img/hy1SQJZlQSuoFXnH0R5i_smartphone.png">
        <h2dark>Mobile
          <p>+254720891500</p>
        </h2dark>
      </ion-item>
    </ion-list>
    <div id="contact-container5">
    </div>
  </ion-content>
</ion-view>