<ion-view title="Home" id="page2" style="background-color:#FDFDFD;">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div id="home-container3">
      <ion-list id="home-list4">
        <ion-item class="item-thumbnail-left item-icon-right dark" id="home-list-item38" ui-sref="tabsController.stones">
          <img src="img/vNENdoMDRAKg1SY4lDrS_stones.jpg">
          <h2dark>STONE
            <i class="icon ion-android-add icon-accessory"></i>
            <ion-option-button class="button-balanced">More</ion-option-button>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left item-icon-right dark" id="home-list-item56" ui-sref="tabsController.sand">
          <img src="img/1MxT5DIwTrqNOWrR1NDc_sand.jpg">
          <h2dark>SAND
            <i class="icon ion-android-add icon-accessory"></i>
            <ion-option-button class="button-balanced">More</ion-option-button>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left item-icon-right dark" id="home-list-item40" ui-sref="tabsController.redSoil">
          <img src="img/M3Khxf4cTCWwfZwndlfq_redsoil.jpg">
          <h2dark>RED SOIL
            <i class="icon ion-android-add icon-accessory"></i>
            <ion-option-button class="button-balanced">More</ion-option-button>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left item-icon-right dark" id="home-list-item92" ui-sref="tabsController.machinery">
          <img src="img/2qoTRZHgSl2MDqXgqrZL_machinery.jpg">
          <h2dark>Machinery
            <i class="icon ion-android-add icon-accessory"></i>
            <ion-option-button class="button-balanced">More</ion-option-button>
          </h2dark>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>