<ion-view title="Machinery" id="page15">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div id="machinery-container14">
      <div class="list card" id="machinery-card23">
        <h3 id="machinery-heading14" style="color:#000000;text-align:center;">Machinery Available</h3>
        <div class=" item item-image">
          <img src="img/lV6QwWJrQwGxIYwJN51B_machinery.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="machinery-list-item-container26"></div>
      </div>
      <ion-list id="machinery-list20">
        <ion-item class="item-thumbnail-left dark" id="machinery-list-item93">
          <img src="img/HYVSFrRTA2GCAmPy31Qd_rockescavator.jpg">
          <h2dark>Rock Escavator
            <p style="white-space:normal;"><b>Unit Price :</b> 11000 per Hour</p>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left dark" id="machinery-list-item98">
          <img src="img/sS3FvrOUQv6A8ToasR3q_earthescavator.jpg">
          <h2dark>Earth Escavator
            <p style="white-space:normal;"><b>Unit Price:</b> 7000 per Hour</p>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left dark" id="machinery-list-item99">
          <img src="img/IOSagr6sRcaAhripdKHN_escavator.jpg">
          <h2dark>Trench Escavator
            <p style="white-space:normal;"><b>Unit Price :</b> 5000 per Hour</p>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left dark" id="machinery-list-item94">
          <img src="img/CPW8XCSSQFipxe0js38F_grader.jpg">
          <h2dark>Grader
            <p style="white-space:normal;"><b>Unit Price :</b> 7000 per Hour</p>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left dark" id="machinery-list-item95">
          <img src="img/0v1GuXTXWFj8pCZbVeEg_back-hoe-construction.jpg">
          <h2dark>Black hoe
            <p style="white-space:normal;"><b>Unit Price :</b> 5500 per Day</p>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left dark" id="machinery-list-item96">
          <img src="img/yrBqtKuBT96dHZw26PCP_roller.jpg">
          <h2dark>Roller
            <p style="white-space:normal;"><b>20 Tonne :</b> 25000 per Day</p>
            <p style="white-space:normal;"><b>7 Tonne :</b> 12000 per Day</p>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left dark" id="machinery-list-item97">
          <img src="img/6cGp7XoDR9u41YxYPhMY_pedestalcrane.jpg">
          <h2dark>Pedestal
            <p style="white-space:normal;"><b>Unit Price :</b> 6000 per Day</p>
          </h2dark>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>