<ion-view title="Red Soil" id="page9">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div id="redSoil-container10">
      <div class="list card" id="redSoil-card211">
        <h3 id="redSoil-heading9" style="color:#000000;text-align:center;">Red Soil Variety</h3>
        <div class=" item item-image">
          <img src="img/82JA41jJQI2PjZvjc6sb_redsoil.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="redSoil-list-item-container17"></div>
      </div>
      <ion-list id="redSoil-list11">
        <ion-item class="item-thumbnail-left dark" id="redSoil-list-item76">
          <img src="img/EuYkgXUdQufTddix9oBz_redsoil.jpg">
          <h2dark>Red Soil
            <p style="white-space:normal;"><b>Quantity :</b>1 Tonne</p>
            <p style="white-space:normal;"><b>Unit Price :</b> 1000</p>
            <p style="white-space:normal;"><b>Minimum Order :</b> 1 Truck(14 Tonnes)</p>
          </h2dark>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>