<ion-view title="Sand" id="page6">
  <ion-content padding="true" class="has-header">
    <div id="sand-container7">
      <div class="list card" id="sand-card28">
        <h3 id="sand-heading6" style="color:#000000;text-align:center;">Sand Variety</h3>
        <div class=" item item-image">
          <img src="img/rCoUUZQVRWysMjEAgJMA_sand.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="sand-list-item-container14"></div>
      </div>
      <ion-list id="sand-list8">
        <ion-item class="item-thumbnail-left dark" id="sand-list-item67">
          <img src="img/3WpqK55bT1EQsFEYpj2X_sand-black.JPG">
          <h2dark>Mai Mahiu
            <p style="white-space:normal;"><b>Quantity :</b> 1Tonne</p>
            <p style="white-space:normal;"><b>Unit Price :</b> 1700 </p>
            <p style="white-space:normal;"><b>Minimum Order :</b> 1 Truck(14 Tonnes)</p>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left dark" id="sand-list-item68">
          <img src="img/lQ1YBT1URBqpi1i93x2w_sand-brown.jpg">
          <h2dark>Ukambani
            <p style="white-space:normal;"><b>Quantity :</b> 1 Tonne</p>
            <p style="white-space:normal;"><b>Unit Price :</b> 2500</p>
            <p style="white-space:normal;"><b>Minimum Order : </b>1 Truck(14 Tonnes)</p>
          </h2dark>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>