<ion-view title="Stones" id="page14">
  <ion-content padding="true" class=" manual-remove-top-padding has-header">
    <div id="stones-container13">
      <div class="list card" id="stones-card22">
        <h3 id="stones-heading12" style="color:#000000;text-align:center;">Stones Variety</h3>
        <div class=" item item-image">
          <img src="img/0kLoLkMKQzCtd169jORS_stones.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
        </div>
        <div class="item item-body" id="stones-list-item-container24"></div>
      </div>
      <ion-list id="stones-list19">
        <ion-item class="item-thumbnail-left dark" id="stones-list-item86">
          <img src="img/Bx4jEGFOTU6RSXTYF6X4_stones-quary.jpg">
          <h2dark>Machine Cut (4 X 9)
            <p style="white-space:normal;"><b>Quantity :</b> 1 </p>
            <p style="white-space:normal;"><b>Unit Price :</b> 45</p>
            <p style="white-space:normal;"><b>Minimum Order :</b> 1 Truck(1200 Pieces)</p>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left dark" id="stones-list-item87">
          <img src="img/Bx4jEGFOTU6RSXTYF6X4_stones-quary.jpg">
          <h2dark>Machine Cut (6 X 9)
            <p style="white-space:normal;"><b>Quantity :</b> 1</p>
            <p style="white-space:normal;"><b>Unit Price :</b> 45</p>
            <p style="white-space:normal;"><b>Minimum Order :</b> 1 Truck(900 Pieces)</p>
          </h2dark>
        </ion-item>
        <ion-item class="item-thumbnail-left dark" id="stones-list-item88">
          <img src="img/Bx4jEGFOTU6RSXTYF6X4_stones-quary.jpg">
          <h2dark>Machine Cut (9 X 9)
            <p style="white-space:normal;"><b>Quantity : </b> 1</p>
            <p style="white-space:normal;"><b>Unit Price :</b> 50</p>
            <p style="white-space:normal;"><b>Minimum Order :</b> 1 Truck(1200 Pieces)</p>
          </h2dark>
        </ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>